.ListGroup {
  display: flex;
  justify-content: center;
}

.Controls {
  align-items: center;
  display: flex;
  justify-content: center;
}

.ItemDetailContainer {
  display: flex;
  justify-content: center;
}


.CardItemDetail {
  width: 550px;
}
